{% extends 'root/base.html' %}
{% block content %}
<div class='jumbotron' >
    <h1 class="display-4">Divtastic</h1>
    <p class="lead">
        A tool to aid in the research and development of dividend investment
        portfolios.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
</svg> Sign In!</a>
        <a class="btn btn-success btn-lg" href="#" role="button">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-ui-checks" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                <path fill-rule="evenodd" d="M2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646l2-2a.5.5 0 1 0-.708-.708L2.5 4.293l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0zm0 8l2-2a.5.5 0 0 0-.708-.708L2.5 12.293l-.646-.647a.5.5 0 0 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/>
                <path d="M7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg> Sing Up!
        </a>
    </p>
</div>
<div class="row">
    <div class="col">
        <h3>Set up an Invest Profile</h3>
        <p>
            Set up an investment profile to come up with a risk profile. once you have a risk profile, use it to research
            different ticket and <b>build portfolios ideas</b>.
        </p>
    </div>
    <div class="col">
        <h3>Research and identify new Positions</h3>
        <p>
            Research symbols and get a break down of <b>key factors and how they relate to your risk profile.</b> You can use this information
            to help determine a give stock would be a good investment. If so, Add it to a portfolio idea or start a position play book.

        </p>
    </div>
    <div class="col">
        <h3> Run Investment Playbooks</h3>
        <p></p>
    </div>

</div>


{% endblock %}